<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="info-panel.css">
    <meta charset="UTF-8">
    <title>Info Panel</title>
</head>
<body>

<div class="container-fluid">
    <div class="col-md-9">
        <div class="jumbotron">
            <h3>Info Box Sample</h3>
            <p>Creating a info box for my awesome BA</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="info-container panel-body">
                <div class="col-md-3">
                    <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col-md-9">
                    <h3>Notes</h3>
                    <p>
                        Some really cool informations about our product
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>